<!-- new bootstrap page -->
<script lang="ts">
	import Gamepage from './Gamepage.svelte';
	import Start from './Start.svelte';
</script>

<main>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
		rel="stylesheet"
	/>
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
	/>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	></script>

	<Start />
	<Gamepage />
</main>

<style>
</style>
