<!-- npm create svelte@latest svelteworkouttimer
npm install
npm run dev -- --open -->

<script lang="ts">
	import WorkoutTimer from './WorkoutTimer.svelte';
</script>

<main>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
		rel="stylesheet"
	/>
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
	</script>
	
	<WorkoutTimer />
</main>
