<script lang="ts">
	import { onMount } from 'svelte';

	export let arcDegrees: number = 0;

	let strokeWidth1: number = 20;
	let strokeWidth2: number = 50;
	let radius: number = 150;
	let centerX: number = 200;
	let centerY: number = 200;

	let canvasElement: HTMLCanvasElement;

	function drawCanvas(degrees: number) {
		if (canvasElement) {
			let ctx = canvasElement.getContext('2d');
			if (ctx) {
				ctx.clearRect(0, 0, canvasElement.width, canvasElement.height);

				// Transparent circle with adjustable arc
				ctx.strokeStyle = 'blue';
				ctx.lineWidth = 20;
				ctx.beginPath();
				ctx.arc(centerX, centerY, radius, -Math.PI / 2, (Math.PI * degrees) / 180 - Math.PI / 2, false);
				ctx.globalAlpha = 1;
				ctx.stroke();

				// Partially transparent circle with adjustable arc
				ctx.strokeStyle = 'blue';
				ctx.lineWidth = 50;
				ctx.beginPath();
				ctx.arc(centerX, centerY, radius, -Math.PI / 2, (Math.PI * degrees) / 180 - Math.PI / 2, false);
				ctx.globalAlpha = 0.3;
				ctx.stroke();
			}
		}
	}

	onMount(() => {
		drawCanvas(arcDegrees);
	});

  $: {
		drawCanvas(arcDegrees);
  }
</script>

<div>
	<canvas bind:this={canvasElement} width="400" height="400" />
</div>
