<!-- new bootstrap page -->
<script lang="ts">
		import Bootstrap from './Bootstrap.svelte'
		import Stats from './Stats.svelte'
</script>

<main>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

	<Stats></Stats>
	<Bootstrap></Bootstrap>
</main>

<style>
</style>
