<!-- new bootstrap page -->
<script lang="ts">
	import { onMount, onDestroy } from 'svelte';


	let buttonType =  "btn btn-secondary";
	
	const onChangeButtonType=(): void => {
		console.log("on change");
		buttonType = "btn btn-warning btn-primary";
	}
</script>

<main>
	<div id="header">Good Day!</div>
	<button type="button" class={buttonType} on:click={onChangeButtonType}>Change Type</button>

	<div class="input-group mb-3">
		<span class="input-group-text" id="basic-addon1"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				fill="currentColor"
				class="bi bi-person-circle"
				viewBox="0 0 16 16"
			>
				<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
				<path
					fill-rule="evenodd"
					d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
				/>
			</svg></span
		>
		<input
			type="text"
			class="form-control"
			placeholder="Username"
			aria-label="Username"
			
			aria-describedby="basic-addon1"
		/>
	</div>
	<div class="input-group mb-3">
		<span class="input-group-text" id="basic-addon1" />
		<input
			type="text"
			class="form-control"
			placeholder="Username"
			aria-label="Username"
			aria-describedby="basic-addon1"
		/>
	</div>
</main>

<style>
	main {
		min-width: 450px;
	}
	#header {
		color: darkred;
		font-size: 100px;
	}
	button {
		margin-left: 30px;
	}
</style>
