<!-- new bootstrap page -->
<script lang="ts">
	import { onMount, onDestroy } from 'svelte';
</script>

<main>
	<div class="d-flex justify-content-evenly rounded-pill">
		<button type="button" class="btn btn-light text-muted rounded-pill fw-light">7 Days</button>
		<button type="button" class="btn btn-light text-muted rounded-pill fw-light">30 Days</button>
		<button type="button" class="btn btn-light text-muted rounded-pill fw-light">90 Days</button>
		<button type="button" class="btn btn-light text-muted rounded-pill fw-light">1 Year</button>
		<button type="button" class="btn btn-light text-muted rounded-pill fw-light">All Time</button>
	</div>
	<div class="container text-center">
		<div class="col text-dark">Rating</div>
		<div class="col-lg arrowup-icon class fs-1 fw-bold">
			<i class="bi bi-graph-up-arrow text-body-secondary" />200
		</div>
	</div>
	<div class="container-fluid rounded mt-4 ms-2 me-5 my-4 text-center bg-light">
		<div class="row">
			<div class="col p-2 text-dark">
				<small>Global Rank</small>
				<div class="fs-3 fw-bold">#9566628</div>
			</div>
			<div class="col p-2 text-dark">
				Friends Rank
				<div class="fs-3 fw-bold">#1</div>
			</div>
			<div class="col p-2 text-dark">
				Percentile
				<div class="fs-3 fw-bold">64.1%</div>
			</div>
		</div>
	</div>
	<div class="text-center fw-bold">GRAPH</div>
	<div class="container-fluid rounded mt-4 ms-2 me-5 my-4 text-center bg-light">
		<div class="row">
			<div class="col p-2 text-dark">
				<small>Highest Rank</small>
				<div class="fs-3 fw-bold">
					<i class="bi bi-bar-chart-line-fill text-body-secondary" /> 928
					<div class="fs-6 fw-light text-info-emphasis">Sep 21, 2023</div>
				</div>
			</div>
			<div class="col p-2 text-dark">
				<small>Rating Training</small>
				<div class="fs-3 fw-bold">
					<i class="bi bi-clock fs-4 text-body-secondary" /> 1 hour
					<div class="fs-6 fw-light text-info-emphasis">15 minutes</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container text-center">
		<div class="col text-dark">Rated Puzzles</div>
		<div class="col-lg fs-1 fw-bold">
			<i class="bi bi-graph-up-arrow text-body-secondary" />339
			<div class="container">
				<div class="row">
					<div class="d-flex">
						<div class="col text-success text-start">188</div>
						<div class="col text-danger text-start">151</div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-success" style="width:65%" />
						<div class="progress-bar bg-danger" style="width:35%" />
					</div>
					<div class="col bar-bottom text-start text-success fs-3" />
					<div class="col bar-bottom">45% Won</div>
					<!---->
					<!---->
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid rounded mt-4 ms-2 me-5 my-4 text-center bg-light">
		<div class="row">
			<div class="col text-dark">
				<small>Best Puzzle Solved</small>
				<div class="col text-dark fs-3 fw-bold">
					<i class="bi bi-check-square-fill text-body-secondary fs-4" /> 1095
				</div>
				<div class="fs-6 fw-light text-info-emphasis">Sep 20, 2023</div>
			</div>
			<div class="col text-dark">
				<small> Best Streak</small>
				<div class="col text-dark fs-3 fw-bold">
					<i class="bi bi-fire text-body-secondary" /> 104
				</div>
				<div class="fs-6 fw-light text-info-emphasis">Sep 19, 2023</div>
			</div>
		</div>
	</div>
</main>

<style>
	.d-flex {
		display: flex !important;
	}
	.justify-content-evenly {
		background-color: rgba(0, 0, 0, 0.016);
		cursor: pointer;
		height: 50px;
	}
</style>
